body {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    font-family: Arial, sans-serif;
    display:flex;
    align-items: center;
    min-height: 100vh;
    background:url('/back_img.jpg') no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
h1 {
    margin-top: 80px; /* Adjust for the fixed header */
    margin-bottom: 20px;
    margin-left: 20px; /* Move to the left */
    align-self: flex-start;
    color:#ffffff;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(35px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.card {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    overflow: hidden;
    max-height: 200px; /* Set initial height */
    width: calc(100% - 40px); /* Make the card longer */
    margin-left: 20px; /* Align with the title */
}
.card:hover {
    transform: scale(1.05);
}
.card-details {
    display: none;
    text-align: left;
    max-height: 300px; /* Set max height */
    overflow-y: auto; /* Enable vertical scrolling */
}
.card.expanded {
    max-height: 1000px; /* Increase height to show all content */
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
    padding: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.delete-button:hover {
    background-color: #ff1a1a;
}